.all-reviews-container {
    min-height: 50px;
    width: calc(100vw - 20px);
    margin: 3px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    background-color: #F5F4F5;
}

.reviews-nav {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    width :60vw;
}

.user-message {
    margin: 20px
}

.nav-button {
    margin-left: 10px;
    cursor: pointer;
}