header {
    background-color: #383035;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #F5F4F5;
    font-weight: bold;
    font-size: 1.3em;
  }