.review-votes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.arrow {
    height: 25px;
    border-radius: 50%;
    border: 0px;
    background-color: #b5b0a9;
    transition: all 0.2s ease;
    margin: 5px;
    cursor: pointer;
}

.up {
    transform: rotate(270deg);
}

.up:hover {
    background-color: rgba(80, 158, 80, 0.5);
}

.down {
    transform: rotate(90deg);
}

.vote-checkbox {
    display: none;
}

.down:hover {
    background-color: rgba(158, 80, 80, 0.5);
}

.vote-checkbox.up:checked ~ label .up {
    background-color: rgba(80, 158, 80, 0.808);
}

.vote-checkbox.down:checked ~ label .down {
    background-color: rgba(158, 80, 80, 0.808);
}
