nav {
    background-color: #B5B0A9;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #383035;
    font-weight: bold;
}

.nav-item {
    display: flex;
    align-items: center; 
    justify-content: center;  
    margin: 5px;
    height: 50px;
    width: 20vw;
}